.button-show-more{
    max-width: 450px;
    margin: 64px auto 0;
    padding: 20px 82px;
    display: block;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    background: #fff;
    border-radius: 80px;
    border: 1.5px solid transparent;
}
.button-show-more:hover{
    cursor: pointer;
    background: #e0e0e0;
}


@media screen and (max-width: 324px) {
    .button-show-more {
        font-size: 16px;
    line-height: 24px;
    }
  }