.card__title {
    font-family: RobotoSlab;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    margin: 0 24px 16px 24px;
    color: #1A1B22;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
    .card__title{
        font-size: 22px;
        line-height: 24px;
    }
}