@import url(./__active/menu-analytics__active.css);
@import url(./__link/menu-analytics__link.css);

.menu-analytics {
    display: flex;
    max-width: 1440px;
    margin: 40px auto 80px;
    padding: 0 4%;
    box-sizing: border-box;
    list-style-type: none;

}