.search__button {
    font-family: Roboto;
    position: absolute;
    top: 0;
    right: 0;
    background: #2f71e5;
    box-shadow: 0 5px 15px rgba(14,26,57,.2);
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    height: 100%;
    padding: 0 54px;
    border-radius: 100px;
    border: none;
    color: #fff;
    cursor: pointer;
}
@media screen and (max-width: 425px) {
    .search__button {
        position: inherit;
        height: 54px;
        width: 100%;
    }
}

.search__button:hover{
    background: #347eff;
    cursor: pointer;
}