.menu__footer {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

}

@media screen and (max-width: 779px) {
    .menu__footer {
        padding-inline-start: 10px;
    }
}



@media screen and (max-width: 350px) {
    .menu__footer {
        max-width: 115px;
    }
}